*{
    box-sizing:border-box;
}

body {
    background-color: rgb(155, 155, 220);
    color:white;
}

@media only screen and (max-width:480px) {
    body {
        background-color: antiquewhite;
        color: black;
    }
}
